<section class="content-home">
    <div class="title-objetivo">
        <h2>
            ¡Tu objetivo ha sido agregado exitosamente!
        </h2>
        <span>¡Te hemos enviado un correo con la notificación!</span>
    </div>
    
    <app-target-card/>
    
    <div class="text-goal">
    
        <h2>
            ¡Vamos por esos <span class="money">$6.000.000</span> para <span class="name">Conocer mi sobrino</span>!
        </h2>
    
        <p>
            ¡A través de tus productos y nuestros rendimientos podremos lograrlo! <br> 
            <span>Asocia tus productos o adquiere uno nuevo.</span>
        </p>
    
    </div>
    
    <app-carousel />
    
    <app-button [label]="'ASOCIAR A OBJETIVO'"/>

</section>

