<section class="container">

    <aside class="contact-info">
        <img src="../../../../assets/image/skandia_logo.svg" title="skandia-footer" alt="skandia-footer">
        <p>
            © 2019 Skandia <br>
            PBX: <span class="phone">658 4000 / 484 1300 </span><br>
            Línea nacional <span class="phone">01 8000 517 526 </span><br>
            Línea Corporativa 658 4123 <br>
            Av. 19 # 109A - 30 <br>
            Bogotá D.C., Colombia <br>
            <span class="global">Oficinas a nivel nacional</span>
        </p>
    </aside>

    <aside class="additional-info">
        <p>
           <a href="#">Términos y Condiciones Canales de Servicio </a> <br>
           <a href="#">Defensoría del Consumidor Financiero </a> <br>
           <a href="#">Protección de Datos </a> <br>
           <a href="#">Definiciones Generales – Auto declaración FATCA y CRS </a> <br>
           <a href="#">Recomendaciones de Seguridad </a> <br>
           <a href="#">Ley de Transparencia </a> <br>
           <a href="#">Mapa del sitio</a> <br>
        </p>
    </aside>

    <aside class="social-networks">
        <img src="../../../../assets/image/facebookl.svg" title="skandia-facebook" alt="skandia-facebook">
        <img src="../../../../assets/image/youtube.svg" title="skandia-youtube" alt="skandia-youtube">
        <img src="../../../../assets/image/twitter.svg" title="skandia-X" alt="skandia-X">
    </aside>

</section>
