<mat-toolbar>
    <aside>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="emitActiveMenu()">
            <mat-icon class="burger">menu</mat-icon>
        </button>

        <span class="title-skandia"> <img src="../../../../assets/image/skandia_logo.svg" title="skandia" alt="skandia"> | <span > Plan Financiero Digital - FPX</span> </span>
    </aside>

    <aside class="content-options">
        <span class="options"> <img class="icon-option" src="../../../../assets/image/Happy.svg" title="skandia" alt="skandia"> <span class="option" > Tu Financial Planner</span> </span>
        <span class="options"> <img class="icon-option" src="../../../../assets/image/hand3.svg" title="skandia" alt="skandia"> <span class="option" >Aportes</span> </span>
        <span class="options"> <img class="icon-option" src="../../../../assets/image/comp_faq.svg" title="skandia" alt="skandia">  </span>
    </aside>
   
</mat-toolbar>


