<div class="content-target-card">
    <section class="title-goal">
        <p><span>Conocer mi sobrino <br> <b>Categoría: Bienestar</b></span></p>
        <a href="#">Revisar objetivo</a>
    </section>

    <aside class="content-goals">
        <div class="title">
            <span>En esta fecha:</span>
            <span>Lograrás:</span>
            <span><img src="../../../../assets/image/Icon_awesome_star.svg"> Ya cuentas con:</span>
        </div>
        <div class="goals">
            <span class="date">Diciembre/2022</span>
            <span class="money">$6.000.000</span>
            <span class="current">$0</span>
        </div>
    </aside>

    <section class="content">
        <img src="../../../../assets/image/check-circle.svg">
        <a href="#">¡Asocia productos para monitorear su progreso!</a>
    </section>
</div>